body{
    background-color: bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

.wrap{
    /* border: 20px solid blue; */
    margin-inline: 300px;
}

.text-h-center{
    text-align: center;
}

.error-msg{
    height: 40px;
    text-align: center;
    color: red;
    font-size: 18px;
}

.info-border{
    display: flex;
    padding: 10px;
    background: white;
    color: black;
    border-radius: 10px;
}

.function-border{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: white;
    color: black;
    border-radius: 10px;
}

.inside-border{
    display: flex;
    padding: 10px;
    background: white;
    color: black;
    border-radius: 10px;
}

.item-left{
    flex: 0.5;
}

.item-right{
    flex: 1.5;
    flex-grow: 2;
}

input{
    width: 100px;
    height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

p{
    height: 25px;
}

select{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 20px;
    font-size: 15px;
}